@import url('http://fonts.cdnfonts.com/css/digital-7-mono');

body {
    background-color: antiquewhite;
}

#container {
    width: 314px;
    background-color: black;
    padding: 5px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid gray 2px;
}

#display {
    display: flex;
    flex-direction: column;
    float: right;
    width: 100%;
    align-items: flex-end;
    height: 75px;
    padding: 2px;
    font-family: 'Digital-7';
    margin-bottom: 10px;
    color: white;
    letter-spacing: 3px;
}

#log {
    color: orange;
}

#currentNum {
    font-size: xx-large;
}

#calcBtn {
    width: 75px;
    height: 75px;
    color: white;
    font-size: x-large;
    font-weight: 500;
    background-color: rgb(87, 87, 87);
    border: solid rgb(0, 0, 0) 0.5px;
    &:focus {
        outline: none;
    }
    &:hover {
        border: solid rgb(184, 184, 184) 1px;
        color: black;
    }
}
